/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .container {
        height: 80vh;
        width: 100vw;
        max-width: 100vw;
    }

    .modal-dialog {
        max-width: 720px;
        width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        height: 85vh;
        width: 100vw;
        max-width: 100vw;
    }

    .modal-dialog {
        max-width: 720px;
        width: 720px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 20px; /* Vertically center the text there */
}

.container {
}

table, th, td {
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
}

/* Additional styles */
body {
    background: #f6f6f8;
}

.content {
    background: #ffffff;
    height: 100%;
    width: 100%;
}

.bg-upnav {
    background-color: #2E2E38;
}

.bg-bnav {
    background-color: #1A1A24;
}

.dashboard {
    margin-left: 10%;
    margin-right: 10%;
}

.modal-dialog {
    width: 77%;
}

#modal2_body {
    height: 450px;
    overflow-y: auto;
}

#modal3_body {
    height: 450px;
    overflow-y: auto;
}

#modal4_body {
    height: 450px;
    overflow-y: auto;
}

.modal-body {
    overflow-y: auto;
    font-family: 'Arial';
    font-size: 14px;
    color: #333333;
}

    .modal-body p {
        font-family: 'Arial';
        font-weight: bold;
        font-size: 14px;
    }

#modal-4-dialog {
    margin-left: 25%;
}

#modal-4-content {
    width: 100%;
}

.modal4data {
    font-family: 'Arial Italic', 'Arial';
    font-weight: 400;
    font-style: italic;
    font-size: 16px
}

.modal4datatxt {
    padding-left: 0px;
}

.modal .modal-footer button {
    float: left;
}

.white-tooltip + .tooltip > .tooltip-inner {
    background-color: #f00;
}

button.btn.nextbtn {
    background: #ffe402;
}

button.btn.cancelbtn {
    background: #666666;
    color: #ffffff;
}

.circle {
    background-color: #e0e0d1;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initials {
    font-size: 19px; /* 50% of parent */
    line-height: 50px; /* 50% of parent */
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
    margin: 0;
}

.tooltip-inner {
    background-color: #ffffff;
    color: #000;
}

.navbrandtxt {
    font-size: 14px;
    color: #FFFFFF;
}

.loginnav {
    font-family: 'Arial Italic', 'Arial';
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: #C0C0C0;
    padding: 8px 8px;
}

img {
    vertical-align: sub;
}


#embedContainer {
    padding: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}


