<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Analytics.Demo.EmbeddedPowerBI</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <link href="~/css/style.min.css" rel="stylesheet">
        <link href="~/css/site.min.css" rel="stylesheet">
    </environment>


</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Analytics.Demo.EmbeddedPowerBI</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-upnav" id="default">
            <a class="navbar-brand" href="#">
                <img src="~/img/eoy-nav.png" class="eyimg" alt="" style="width:34px;height:34px; "><img src="~/img/separator.png" alt="">
                <span class="navbrandtxt">Client Technology Platform-Power BI dashboards</span>
            </a>
            <div class="navbar-nav ml-auto">
                <partial name="_LoginPartial" />
            </div>

            @*<div class="navbar-nav ml-auto">
                    <a class="loginnav" href="#">
                        Login User Name
                    </a>
                    <div class="circle">
                        <span class="initials">JD</span>
                    </div>

                </div>*@
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-bnav">
            <a class="navbar-brand" href="#">@ViewBag.ProjectDisplayName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-nav ml-auto">
                    <span data-toggle="modal" data-target="#modal-4">
                        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Terms And Condition" id="tooltipex" class="white-tooltip"><i class="material-icons white" style="color:#ffffff">description</i></a>
                    </span>
                    <span data-toggle="modal" data-target="#modal-5">
                        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Privacy Notice" class="white-tooltip"><i class="material-icons white" style="color:#ffffff">lock</i></a>
                    </span>

                    @*<a data-toggle="tooltip" data-placement="top" data-original-title="Logout" class="white-tooltip"><i class="material-icons white" style="color:#ffffff">exit_to_app</i></a>*@
                    <a data-toggle="tooltip" data-placement="top" data-original-title="Logout" class="white-tooltip" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut"><i class="material-icons white" style="color:#ffffff">exit_to_app</i></a>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 -  EY
        </div>
    </footer>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
