<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome to CTP Demo Web App Embedded Page</title>
</head>
<body>
    <center>
    <table>
        <tr>
            <td><font size="4" color="red">Banner-TBD</font></td>

        </tr>
        <tr>
            <td><font size="3" color="blue">
                Report Description (policy or constraints TBD) :</br>
    Behavioural Economics In Consumer Policy The Economic Analysis Of Standard Terms In Consumer Contracts Revisited Full Version 2019 can be very useful guide, and Behavioural Economics In Consumer Policy The Economic Analysis Of Standard Terms In Consumer Contracts Revisited Full Version 2019 accessibility Books LIbrary as well as its powerful features, including thousands of title from favorite author,
    plus the capability to read or download numerous books for your pc or smartphone within minutes.
</font></td>
        </tr>
            <tr>
                <td><font size="3" color="red">If you agree with this policy?&nbsp;&nbsp;<a id="btnEmbedReport" href="~/Home/EmbedReport"><b>Click Here to Embed a Report</b></a></font></td>
            </tr>
        </table>
        </center>
            <!-- <center>
                <font face="verdana" color="black" size="3">
                    <h2>Policy Information</h2>
                    <ul>
                        <li>Policy 1</li>
                        Policy Info1 TBD
                        <li>Policy 2</li>
                        Policy Info 2 TBD
                        <li>Other Information</li>
                        Other Info TBD
                    </ul>
                    <br />
                -->
                    <!-- <button onclick="myFunction()">Accepting the above policy</button>

                            <script>
                                function myFunction() {
                                    alert("I am accepting the above policy!");
                                }
                            </script>
                -->
                  <!--  <a id="btnEmbedReport" href="~/Home/EmbedReport">Click Here to Embed a Report</a>
                    <br /><br />
                    <a id="btnEmbedDashboard" href="~/Home/EmbedDashboard">Click Here to Embed a Dashboard</a>
                    <br /><br />
                    <a id="btnEmbedTile" href="~/Home/EmbedTile">Click Here to Embed a Tile</a>
                    <br /><br />
                </font>
            </center>
                      -->
</body>
</html>